/*
Colors used:

Primary Color (pink): #ef1762;
Secondary Color (orange): #f4892D;
Alternative Secondary color (lime): #d2e637

Main text (dark grey): #4d4d4d
Secondary text (grey): #7f7f7f
Input bars (light grey): #f1f1f1
Background color (white): #ffffff
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

header {
  background-color: #f1f1f1;

  padding: 10px 0;
  -webkit-box-shadow: -10px 3px 5px 0px rgba(94, 9, 38, 0.58);
  -moz-box-shadow: -10px 3px 5px 0px rgba(94, 9, 38, 0.58);
  box-shadow: -10px 3px 5px 0px rgba(94, 9, 38, 0.58);
  position: fixed;
  width: 100%;
}

.logo {
  max-width: 150px;
}

.social img {
  width: 35px;
}

.social {
  width: 100px;
  display: flex;
  column-gap:20px;
  padding: 0;
}


a {
  color: #ef1762;
  text-decoration: none;
  /* No underlining */
}

ul li {
  list-style-type: none
}

a:visited {
  /* visited link */
  color: #ef1762;
}

a:hover,
a:focus {
  color: #d2e637;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #a31043;
}

.button {
  display: inline-block;
  background-color: #ef1762;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  /* selected button */
  color: #a31043;
}

.button-contact {
  background-color: transparent;
  color: #ef1762;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #ef1762;
}

.button-contact:hover {
  background-color: #ef1762;
  color: #d2e637;
}

.button-contact:active {
  color: #a31043
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4d4d4d;
}

#hero h1, #hero p {
  text-align: center;
  /* Centers text */
}

#hero span {
  display: block;
}

.center {
  text-align: center;
  /*centers all h1 elements of we put h1 class=center.
   so the method above is better for applying to separate elements*/
}

nav>ul {
  list-style-type: none;
  padding: 0;
}



nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ef1762;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ef1762
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #d2e637
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f4892D
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#hero {
  background-color: #f1f1f1;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 83px;
}

.icon {
  max-width:150px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
  }

  .logo {
    max-width: 250px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 24px;
  }

  nav>ul>li {
    display: inline-block;
  }

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav > ul {
  margin: 1em 0;
}
  main {
    padding-top: 119px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 0 10px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 24px;
  }

  main {
    padding-top: 119px;
  }

  body {
    font-size: 18px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 0 10px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }
  .navtoggle li:last-child {
  display: none;
}

}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


#work .row {
  border-bottom: 0;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(400px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
