
/*
Colors used:

Primary Color (pink): #ef1762;
Secondary Color (orange): #f4892D;
Alternative Secondary color (lime): #d2e637

Main text (dark grey): ##4d4d4d
Secondary text (grey): #7f7f7f
Input bars (light grey): #f1f1f1
Background color (white): #ffffff
*/



body {


  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ef1762;
  text-decoration: none; /* No underlining */
}


a:visited { /* visited link */
  color: #ef1762;
}
a:hover,
a:focus {
  color: #d2e637;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #a31043;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ef1762;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active { /* selected button */
  color: #a31043;
}

.button-contact {
  background-color: transparent;
  color: #ef1762;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #ef1762;
}

.button-contact:hover {
  background-color: #ef1762;
  color: #d2e637;
}

.button-contact:active {
color: #a31043
}
